body {
    margin: 0;
    padding: 0;
    background: #f8f5ef;
    color: #222;
    font-family: Georgia, serif;
    line-height: 1.7;
}

header {
    background: #3b2f2f;
    color: white;
    text-align: center;
    padding: 25px;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}
nav {
    margin-top: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
